body {
    margin: 0;

}

.wrapper {
    position: absolute;
    width: 200vw;
    height: 200vh;
    background: linear-gradient(45deg, #F17c58, #E94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}


@keyframes gradient {
    0% {
        background-position: 0%
    }

    100% {
        background-position: 100%
    }
}

.rainingcontainer{
    position:relative;
    width: 200vw;
    height: 200vh;

}
.raining{
    width:100%;
    position: relative;
    animation-name: rain;
    animation-duration: 20s;
    animation-fill-mode: forwards;

}
@keyframes rain {
    0% {
        width: max(200vw, 200vh);
        height: max(200vw, 200vh);
    }

    100% {
        width: max(1vw, 1vh);
        height: max(1vw, 1vh);
    }
}

.flyingbird {
    position: relative;
}

#bird {
    left: 100%;
    animation: fly 5s infinite;
    position: relative;
}

@keyframes fly {

    0% {
        left: 100%;
        top: 5px;
    }

    25% {
        top: 100px;
    }

    50% {
        top: 80px;
    }

    75% {
        top: 25px;
    }

    100% {
        left: -120px;
        top: 102px;
    }
}

.elephantcontainer {
    position: relative;
}

#elephant {
    animation-name: walk;
    animation-duration: 20s;
    animation-fill-mode: backwards;
    animation-iteration-count:infinite;
}

@keyframes walk {

    0% {
        width: max(1vw, 1vh);
        height: max(1vw, 1vh);
    }

    100% {
        width: max(50vw, 50vh);
        height: max(50vw, 50vh);
    }
}

.giraffecontainer {
    position: relative;
}

#giraffe {
    position: relative;
    animation-name: walking;
    animation-duration: 20s;
    animation-fill-mode: backwards;
    animation-iteration-count:infinite;
}

@keyframes walking {

    0% {
        left: 100%;
        top: 60px;
    }

    25% {
        top: 40px;
    }

    50% {
        top: 20px;
    }

    75% {
        top: 10px;
    }

    100% {
        left: -120px;
        top: 20px;
    }
}

.suncontainer {
    position: relative;
}

#sun {
    position:relative;
    animation-name: raise;
    animation-duration: 20s;
    animation-fill-mode: backwards;
    animation-iteration-count:infinite;
}

@keyframes raise{

    0% {
        left: 100%;
        top:100px;
        
    }

    25% {
        top:80px;
       
    }

    50% {
        top:60px;
    }

    75% {
        top:80px;
    }

    100% {
        left: -120px;
        top:100px;

    }
}


