header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.biophoto{
    width:150px;
    float:left;
    margin:10px;

}
.biophoto img{
    max-width:100%;
}
.biotext{
    width: 350px;
    margin:10px;
}

.biotext p {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}
.secondtext p{
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    margin:10px;
}

.Footer-text p{
    font-family: 'Roboto', sans-serif;
    line-height: 30px;

}

#contact-form {
    margin-top:30px;
    text-align: center;
}

.number{
    position:relative;
    top:-6px;
    line-height:30px;
    width:150px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:black;
}

.name{
    position:relative;
    top:-6px;
    line-height:30px;
    width:150px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:black;
}

.subject{
    position:relative;
    top:-6px;
    line-height:30px;
    width:150px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:black;
}

.email{
    position:relative;
    top:-6px;
    line-height:30px;
    width:150px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:black;
}

#submitButton{
    width:100px;
    height:30px;
    margin-top: 30px;
}

.footerButton {
    text-align: center;
    margin-bottom:50px;
}

#clickA {
    width:100px;
    height:30px;
    margin-top: 30px;
}
.gallery {
    max-width:1000px;
    margin:10px;
    margin-top:30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,auto);
    gap: 10px;
    list-style: none;
    padding-left:0px;
}

.grid-item img{
    max-width: 100%;
}


@media(min-width: 768px) {

    header {
        font-size: 30px;
        margin-bottom:30px;
    }

    .biophoto{
        width:200px;
    
    }
    .biotext{
        width: 100%;

    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3,auto);
        gap: 10px;
        list-style: none;
        padding-left:0px;
    }
    .name{
        width:initial
    }
    .subject{
     width:initial
    }
    .email{
     width:initial
    }
    .number {
     width:initial
    }

    #contact-form {

        margin:auto;
        max-width:1280px;
        background-color:lightgrey;
        padding-bottom:50px;
        padding-top:10px;
        margin-top:50px;

    }

    
}


@media(min-width: 1280px) {
    header {
        font-size: 50px;
    }

    .gallery{

        margin: auto;
        max-width:1280px;
    }
    .bio{
        margin:auto;
        max-width:1280px;
        margin-bottom:50px;
    }
   .Footer-text{
    margin:auto;
    max-width:1280px;
    margin-bottom:30px;
    margin-top:30px;
   }




 
  

}