body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.mb-1 a {
    font-size: 15px;
}

.navbar-brand {
    width: 80px;
    margin-top: -5px;
}

.header-background {
    background-image: url(Images/Header-banana-faq.jpg);
}

.banana-yellow-color {
    color: yellow;
}


.banana-pink-color {
    color: #ff94a5;
}

.header-text-banana {
    font-family: 'Sigmar One', cursive;
}

.nunito-font {
    font-family: 'Nunito', sans-serif;
}


.nav-link{
    color:#ff94a5;
}

.navbar-brand {
   width: 80px;
   margin-top: -5px;
}

.navigation{
   margin-top: 4px;
   font-family: 'Nunito', sans-serif;
    color: #ff94a5;
}


footer {
    font-size: 12px;
    margin-top: 100px;
margin-bottom: 20px;
}

.mb-1 a {
    font-size: 15px;
}


.column-1{
    background-color:lightpink;

}
.column-2{
    background-color:lightyellow;;

}
.column-3{
    background-color:lightblue;;

}