body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.navbar-brand {
    width: 80px;
    margin-top: -5px;
}

.header-background {
    background-image: url(Images/Header-banana-faq.jpg);
}

.banana-yellow-color {
    color: yellow;
}


.banana-pink-color {
    color: #ff94a5;
}

.header-text-banana {
    font-family: 'Sigmar One', cursive;
}

.nunito-font {
    font-family: 'Nunito', sans-serif;
}


.nav-link{
    color:#ff94a5;
}

.navbar-brand {
   width: 80px;
   margin-top: -5px;
}

.navigation{
   margin-top: 4px;
   font-family: 'Nunito', sans-serif;
    color: #ff94a5;
}

ion-icon img{
   width:20px;
}
.cart {
   position: absolute;
   bottom: 0px;
   height: 45px;
   background-color: #ff94a5;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

footer {
    font-size: 12px;
    margin-top: 100px;
margin-bottom: 20px;
}

.mb-1 a {
    font-size: 15px;
}


.column-1{
    background-color:#ff94a5;

}
.column-2{
    background-color:yellow;;

}
.column-3{
    background-color:#2177e9;;

}