body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    height: 100%;
  
}

.product-btn{
    background-color: #ff94a5;
    border-color: yellow;
    color:yellow;
}

.cart-btn{
    background-color: #ff94a5;
    border-color: yellow;
    color:yellow;
}

.header-background-FAQ {
    background-image: url(Images/banana-2-big.gif);
}

.header-background-product{
    background-image: url(Images/giphy.gif);
}

.column-1{
    background-color:lightpink;

}
.column-2{
    background-color:lightyellow;;

}
.column-3{
    background-color:lightblue;;

}
 .nav-link{
     color:#ff94a5;
 }

.navbar-brand {
    width: 100px;
    margin-top: -5px;
}

.navigation{
    margin-top: 4px;
    font-family: 'Nunito', sans-serif;
     color: #ff94a5;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;

}

.product-section{
    margin:-20px;
}



.contentBox {
    position: relative;
    width: 300px;
    height: 450px;
    flex-direction: column;
    background-color: lightyellow;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 1);
}

.contentBox .imgBx {
    position: relative;
    width: 300px;
    height: 200px;
    transform: translateY(-50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox .imgBx::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: #e7ffe0;
    border-radius: 50%;

}

.contentBox .imgBx img {
    position: relative;
    min-width: 200px;
    z-index: 1;
}
.popuph3{
    margin-top:50px;
}
.getthedeal{
    margin-top:1px;
}


.contentBox .content {
    position: relative;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox .content h3 {
    color: #333;
    line-height: 1em;
    font-weight: 300;
    font-size: 2em;
}

.contentBox .content h2 {

    font-size: 4em;
    color: #ff94a5;
    line-height: 1em;

}

.contentBox .content h2 span {
    color: #333;
    font-size: 0.75em;
    text-transform: uppercase;
}

.contentBox .content h2 p {
    font-weight: 300;

}

.contentBox .content a {
    display: inline-block;
    background: #ff94a5;
    color: #fff;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 10px;
    height: auto;
    text-align: center;
    padding: 10px;
    padding-top: 10px;
}



.close {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    top: -15px;
    right: -10px;
    background: #fff url("Images/close.png");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
}

footer {
    font-size: 12px;
    margin-top: 100px;
}



.header-background {
    background-image: url(Images/giphy-pink.gif);
}

.header-background-checkout{
    background-image: url(Images/smoke.gif);
}

.banana-yellow-color {
    color: yellow;
}


.banana-pink-color {
    color: #ff94a5;
}

.checkout-button{
    color: yellow;
    background-color: #ff94a5;
    border-color: #ff94a5;
}

.checkout-button:hover{
    background-color: lightblue;
    
}

.header-text-banana {
    font-family: 'Sigmar One', cursive;
}

.nunito-font {
    font-family: 'Nunito', sans-serif;
}

.fresh-banana {
    width: 200px;
    height: 250px;
}

.fresh-banana img {
    width: 100%;
}

.product-banana {
    width: 100%;
    height: 225;
}

.show-cart li {
    display: flex;
  }
 
  .card-img-top {
    width: 100%;
    align-self: center;
  }

  .product-background {
      background-color: lightblue;
      
  }

 
  .product-row{
    margin-left: 0px;
    margin-right:0px;
  }


  .recipts{
    margin-top:-10px;
}
.recipt{
    margin-top:50px;
}
.btn-secondary-head-1 {

    background-color: grey;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    outline: none;
    margin-top: 15px;
    margin-bottom: -1px;
}

.btn-secondary-head-1:hover {
    box-shadow: inset 100px 0 0 0 #ff94a5;

}

.btn-secondary-head-2 {

    background-color: grey;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    outline: none;
    margin-top: 15px;
    margin-bottom: -1px;
}


.btn-secondary-head-2:hover {
    box-shadow: inset 100px 0 0 0 #ff94a5;
}

.btn-secondary-head-3 {

    background-color: grey;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    outline: none;
    margin-top: 15px;
    margin-bottom: -1px;
}



.btn-secondary-head-3:hover {
    box-shadow: inset 100px 0 0 0 #ff94a5;
}


.thank-you-text {
    text-align: center;
    color:#ff94a5;
    font-family: 'Sigmar One', cursive;
    margin-top:80px;
}




@media (min-width: 768px) {


    .contentBox {
        position: relative;
        width: 600px;
        height: 400px;
        background-color: lightyellow;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    }

    .contentBox .imgBx {
        position: relative;
        width: 300px;
        height: 400px;
        margin-top: 40px;
        margin-left: 30px;
    }


    .contentBox .imgBx::before {
        content: '';
        position: absolute;
        width: 300px;
        height: 300px;
        background: #e7ffe0;
        border-radius: 50%;
        
    
    }

    .contentBox .content {
        display: inline-block;
        height: auto;
        text-align: center;
        padding: 10px 20px;
        margin-top: 70px;
        text-decoration: none;
        border-radius: 10px;

    }

    .close {
        top: 20px;
        right: 20px;
        background: #f3f3f3 url("Images/close.png");
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: center;
    }
}