body {
    margin: 0px;
    padding: 0px;   
    box-sizing: border-box;
    position: relative;
    height: 100%; 
}

 .nav-link{
     color:#ff94a5;
 }

.navbar-brand {
    width: 100px;
    margin-top: -5px;
}

.navigation{
    margin-top: 4px;
    font-family: 'Nunito', sans-serif;
     color: #ff94a5;
}
  
  .show-cart li {
    display: flex;
  }
 
  .card-img-top {
    width: 100%;
    align-self: center;
  }

  .product-background {
      background-color: lightblue;
      
  }

  .product-row{
    margin-left: 0px;
    margin-right:0px;
  }



